<header>
  <mat-toolbar color="primary">
    <a href="#" mat-button>
      <!-- <span><img src="./assets/logo.png"></span> -->
      <mat-icon>filter_vintage</mat-icon>
      Natura
    </a>
    <a *ngIf="authService.isAuth" href="#" mat-button>Flowers</a>
    <a *ngIf="authService.isAuth" href="#" mat-button>Pollinating Insects</a>
    <a *ngIf="authService.isAuth" href="#" mat-button>Species</a>
    <span class="fill-remaining-space"></span>
    
    <a *ngIf="authService.isAuth" href="#" mat-button>
      <mat-icon>account_circle</mat-icon>
      {{ username }}
    </a>
    <button *ngIf="authService.isAuth" (click)="logout()" mat-button>
      Sign out
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>
</header>
<div class="container">
  <div class="row">
    <div class="col-xs-12 mat-typography">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
