/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import './styles/app-material-theme';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/** global container styles **/

.container-wrapper {
    max-height: calc(100vh - 90px);
    margin-top: 25px;
 }

.full-width {
    width: 100%;
 }

.div-center {
    height: calc(100vh - 65px);
    display: flex;
    justify-content: center;
    align-items: center;
 }

/** Spacing **/ 
.m-1 {
     margin-top: 1rem;
     margin-bottom: 1rem;
     margin-right: 1rem;
     margin-left: 1rem;
 }
 .m-y-1 {
     margin-top: 1rem;
     margin-bottom: 1rem;
 }
 .m-t-1 {
    margin-top: 1rem;
}
.m-b-1 {
    margin-bottom: 1rem;
}
.m-x-1 {
    margin-right: 1rem;
    margin-left: 1rem;
}
.m-r-1 {
    margin-right: 1rem;
}
.m-l-1 {
    margin-left: 1rem;
}

/** Color **/
$primary:  mat-palette($mat-deep-purple);
$accent:  mat-palette($mat-amber);

.text-color-primary-800 {
   color: mat-color($primary, 800);
}

.text-color-primary-600 {
    color: mat-color($primary, 600);
 }

.text-color-accent-800 {
    color: mat-color($accent, 800);
 }

/** Text styles **/
@include mat-base-typography($custom-typography);

.text-uppercase {
    text-transform: uppercase;
}

.text-underline {
    text-decoration: underline;
}

/** Slider styles **/

.custom-slider .ng5-slider .ng5-slider-bar {
    background: mat-color($primary, 200);
    height: 2px;
}

.custom-slider .ng5-slider .ng5-slider-selection {
    background: mat-color($primary, 800);
}
  
.custom-slider .ng5-slider .ng5-slider-pointer {
    width: 14px;
    height: 14px;
    top: auto; /* to remove the default positioning */
    bottom: -3.5px;
    background-color: mat-color($primary, 800);
    border-radius: 7px;
}
  
.custom-slider .ng5-slider .ng5-slider-pointer:after {
    display: none;
}
  
.custom-slider .ng5-slider .ng5-slider-bubble {
    bottom: 14px;
    font-size: 13px;
}
  
.custom-slider .ng5-slider .ng5-slider-limit {
    font-weight: bold;
    color: mat-color($primary, 800);
}
  
.custom-slider .ng5-slider .ng5-slider-tick {
    width: 1px;
    height: 8px;
    margin-left: 4px;
    border-radius: 0;
    background:mat-color($primary, 200);
    top: -0.5px;
}
  
.custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    background: mat-color($primary, 800);
}