<mat-tab-group  (selectedTabChange)="onTypeClick($event)">
    <mat-tab label="Flowers">
        <mat-grid-list cols="4">
            <mat-grid-tile *ngFor="let flower of flowers">
                <app-entry-card [entry]="flower" type="Flower"></app-entry-card>
            </mat-grid-tile>
        </mat-grid-list>   
    </mat-tab>
    <mat-tab label="Insects">
        <mat-grid-list cols="4">
            <mat-grid-tile *ngFor="let insect of insects">
                <app-entry-card [entry]="insect" type="Insect"></app-entry-card>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
</mat-tab-group>
