.field-container {
    margin-bottom: 1.5rem;
}

.field-name {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 8px;
}

.field-text {
    max-height: 100px;
    margin-left: 0.5rem;
    text-align: justify;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

