mat-card {
    width: 280px;
    height: 300px;
}

mat-card img {
    object-fit: cover;
    max-width: 250px;
    max-height: 185px;
    width: 250px;
    height: auto;
    margin: 0 10px 10px 10px;
  }

mat-icon.mat-card-avatar {
    width: 24px;
    height: 24px;
    font-size: 24px;
}