<mat-toolbar color="primary" class="mat-elevation-z6">
  <a routerLink="/home" mat-button>
    <!-- <span><img src="./assets/logo.png"></span> -->
    <mat-icon class="natura-icon">emoji_nature</mat-icon>
    Natura
  </a>
  <a *ngIf="authService.isAuth" routerLink="/entries/Flower/list" mat-button>Flowers</a>
  <a *ngIf="authService.isAuth" routerLink="/entries/Insect/list" mat-button>Pollinating Insects</a>
  <a *ngIf="authService.isAuth" routerLink="/species/list" mat-button>Species</a>
  <span class="fill-remaining-space"></span>
  <a *ngIf="authService.isAuth" [matMenuTriggerFor]="userMenu" mat-button>
    <mat-icon>account_circle</mat-icon>
    {{ username }}
  </a>
  <mat-menu #userMenu="matMenu">
    <button routerLink="/user-account/profile" mat-menu-item>Profile</button>
    <button routerLink="/user-account/settings" mat-menu-item>Settings</button>
    <button routerLink="/user-account/herbarium" mat-menu-item>Herbarium</button>
    <button *ngIf="authService.isAuth" (click)="logout()" mat-menu-item>
      Sign out
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-menu>
</mat-toolbar>
