

.comments-list.mat-list-base .mat-list-item.mat-2-line {
    height: auto;
    padding: 12px 0;
}

.comment {
    background: #f3f6f8;
    border-radius: 14px 14px 0 14px;
    margin-bottom: 12px;
}

.commentator {
    font-size: 12px;
    font-weight: 500;
}

.comment-date {
    font-size: 12px;
    color: #757575;
}

.comment-text {
    padding-top: 8px;
    white-space: pre-wrap;
}

.no-comment {
    font-size: 14px;
    font-weight: 300;
    color: #bdbdbd;
    font-style: italic;
}