<div class="container-wrapper">
    <div fxLayout="column">
        <h1 fxFlexAlign="center">New {{ type }} entry</h1>
        <form [formGroup]="entryForm" id="entry-form" (ngSubmit)="createEntry()">
            <div fxLayout="column">
                <div fxLayout="row">
                    <div fxFlex="30" fxFlexOffset="10" fxFlexAlign="baseline" fxLayout="column"
                        fxLayoutAlign="space-around">
                        <h2>Main Details</h2>
                        <mat-form-field appearance="fill">
                            <mat-label>Name</mat-label>
                            <input matInput type="text" formControlName="name" placeholder="name">
                        </mat-form-field>
                        <mat-form-field>
                            <ngx-mat-file-input formControlName="file" accept="image/*"
                                (change)="onFileSelected($event)" placeholder="Choose a picture" color="accent">
                            </ngx-mat-file-input>
                            <mat-icon matSuffix>attach_file</mat-icon>
                        </mat-form-field>
                    </div>
                    <div fxFlex="40" fxFlexOffset="10" fxFlexAlign="baseline" fxLayout="column"
                        fxLayoutAlign="space-around">
                        <h2>Optional information</h2>
                        <mat-form-field appearance="fill">
                            <mat-label>Description / Comment</mat-label>
                            <textarea matInput formControlName="description"
                                placeholder="you can enter any comment"></textarea>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Location</mat-label>
                            <input matInput type="text" formControlName="location" placeholder="City, region, address">
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Suggested species</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let spec of species" [value]="spec"> {{ spec.commonName }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <button mat-raised-button type="submit" color="accent" fxFlexAlign="center" fxFlexOffset="5"
                    [disabled]="entryForm.invalid">Create</button>
            </div>
        </form>
    </div>
</div>