.profile-card {
    margin: 20px 30px 10px 30px;
    width: 800px;
}

mat-icon.mat-card-avatar {
    width: 40px;
    height: 40px;
    font-size: 40px;
  }

.validator-role p {
    width: 180px;
    margin-right: 30px;
}