<div class="container-wrapper">
    <div *ngIf="!isLoading && entry" fxLayout="column" fxLayoutAlign="space-around" >
        <mat-list>
            <app-field-list-item title="Name" [text]="entry.name"></app-field-list-item>
            <app-field-list-item title="Created by" [text]="entry.createdBy ? entry.createdBy.username : ''"></app-field-list-item>
            <app-field-list-item title="Description" [text]="entry.description"></app-field-list-item>
            <app-field-list-item title="Location" [text]="entry.location"></app-field-list-item>
            <app-field-list-item title="Picture" class="image-field">
                <!-- <img [src]="picture" mat-card-image alt="Entry picture" > -->
            </app-field-list-item>
        </mat-list>
        <mat-divider [vertical]="true"></mat-divider>
    </div>
</div>
