<div class="container-wrapper" *ngIf="loaded && entry">
    <div fxLayout="row">
        <div class="details-container" fxFlex="50" fxLayout="column" fxLayoutAlign="space-around">
            <h1>Details</h1>
            <mat-divider></mat-divider>
            <app-field-list-item name="Name" [text]="entry.name"></app-field-list-item>
            <app-field-list-item name="Created by" [text]="entry.createdBy ? entry.createdBy.username : ''">
            </app-field-list-item>
            <app-field-list-item name="Date" [text]="entry.date | date: 'dd/MM/yyyy'"></app-field-list-item>
            <app-field-list-item name="Description" [text]="entry.description"></app-field-list-item>
            <app-field-list-item name="Location" [text]="entry.location"></app-field-list-item>
        </div>
        <div class="image-container">
            <img [src]="picture" alt="Entry picture" width="auto" height="100" class="image">
        </div>
    </div>
    <div class="identification-container" fxLayout="column" fxLayoutAlign="space-around">
        <div fxLayout="row" fxLayoutAlign="none center">
            <h1>Identification</h1>
            <button *ngIf="!isValidated" mat-mini-fab color="accent" fxFlexOffset="3" aria-label="add new identification"
                id="add-new-identification" (click)="openIdentificationDialog()">
                <mat-icon>add</mat-icon>
            </button>
            <mat-icon *ngIf="isValidated" fxFlexOffset="1" color="accent" class="validated-icon">check_circle_outline</mat-icon>
        </div>
        <mat-divider></mat-divider>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1">
            <ng-container matColumnDef="species.commonName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Species </th>
                <td mat-cell *matCellDef="let element"> {{element.species ? element.species.commonName : ''}} </td>
            </ng-container>
            <ng-container matColumnDef="proposer">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Suggested By </th>
                <td mat-cell *matCellDef="let element"> {{element.suggestedBy ? element.suggestedBy.username : ''}} </td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.suggestedDate | date: 'dd/MM/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="validated">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Validated </th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox (click)="validate(element, $event)" disableRipple="true"
                        [checked]="element.validatedBy !== null && element.validatedBy !== undefined" 
                        aria-label="validationCheckbox">
                    </mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="validator">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Validated by </th>
                <td mat-cell *matCellDef="let element"> {{element.validatedBy ? element.validatedBy.username : ''}} </td>
            </ng-container>
            <ng-container matColumnDef="validatedDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Validation Date </th>
                <td mat-cell *matCellDef="let element"> {{element.validatedDate | date: 'dd/MM/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="comments">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Comments </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button aria-label="comment identification" id="comment-identification" (click)="openCommentDialog(element)">
                        <mat-icon [matBadge]="element?.comments?.length" [matBadgeHidden]="element?.comments?.length < 1">comment</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>