

mat-divider {
    margin-bottom: 1.5rem;
}

.details-container {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    max-height: 450px;
}

.image-container {
    background-size: cover;
    max-height: 450px;
    max-width: 450px;
    margin-bottom: 1rem;
}

.image {
    background-size: cover;
    max-height: 350px;
    height: calc(100% - 20px);
    width: auto;
    margin: 10px 10px 10px 10px;
}

.identification-container {
    margin-left: 2rem;
    margin-right: 2rem;
}

#add-new {
    margin-bottom: 8px;
}