<h1 mat-dialog-title fxFlexAlign="center">Change password</h1>
<form [formGroup]="passwordForm" (ngSubmit)="onChange()">
<div mat-dialog-content>
    <mat-form-field class="full-width">
        <input type="password" placeholder="Enter old password" matInput formControlName="old">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input type="password" placeholder="Enter new password" matInput formControlName="new">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input type="password" placeholder="Confirm new password" matInput formControlName="confirm"
            [errorStateMatcher]="matcher">
        <mat-error *ngIf="passwordForm.errors?.mismatch">
            Current entered value is not equal to above value.
        </mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <button mat-button type="submit" [disabled]="passwordForm.invalid">Change</button>
    <button mat-button (click)="onNoClick()">Cancel</button>
</div>
</form>