.wrapper {
  height: calc(100vh - 65px);
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
}

.overlay {
  height: calc(100vh - 65px);
  width: 100%;
  background-color: rgba(206, 147, 216, 0.226);
  z-index: 10;
  top: 65px;
  left: 0;
  position: fixed;
}
